body {
    background: #f5f5f5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #99a6b2;
    bottom: 0;
    color: white;
    padding: 14px;
    position: relative;
    text-align: center;
    width: 100%;
}

/* Classes */
.big-blue {
    color: #041e42;
    font-family: georgia;
    font-size: 28pt;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.center {
    text-align: center;
}

.col-6 {
    background: white;
}

.col-12 {
    background: white;
}

.img-margin {
    margin-bottom: 28px;
}

.large-pad {
    padding: 40px;
}

.navbar {
    background-color: #041e42;
    color: #cdd2d9;
    font-family: georgia;
    padding: 0 1rem;
}

.navbar-brand {
    background-color: #041e42;
    color: #cdd2d9;
    padding: 10px;
}

.navbar-brand:hover {
    background-color: #041e42;
    color: #D50032;
    padding: 10px;
}

.nav-link {
    background-color: #041e42;
    color:#cdd2d9;
    padding: 10px;
}

.nav-link:focus {
    background-color: #041e42;
    color: #D50032;
    padding: 10px;
}

.nav-link:hover {
    background-color: #041e42;
    color:#D50032;
    padding: 10px;
}

.row {
    background-color: white;
    --bs-gutter-x: 100px;
    --bs-gutter-y: 100px;
}

.small-pad {
    padding: 10px;
}

.synopsis {
    color: black;
    font-family: georgia;
    font-size: 14pt;
    font-weight: normal;
    margin-top: 32px;
    text-align: left;
}

.table {
    background: white;
}

.white {
    color: white;
}

.white:hover {
    color: #D50032;
}
